<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="picker.css">
</head>
<body>
	<div id="mSelect">请选择</div>
	<script type="text/javascript" src="pickerExt.js"></script>
	<script type="text/javascript">
		var data = [{
			name: '广州',
			dataset:{id:1,provider:'广东'}
		},{
			name: '肇庆',
			dataset: {id:2 , provider: '广东'}
		},{
			name: '赣州',
			dataset: {id:3,provider:'江西'}
		},{
			name: '太原',
			dataset:{id:4,provider: '山西'}
		},{
			name: '西宁',
			dataset:{id:4,provider: '青海'}
		},{
			name: '郑州',
			dataset:{id:4,provider: '河南'}
		},{
			name: '石家庄',
			dataset:{id:4,provider: '河北'}
		},{
			name: '贵阳',
			dataset:{id:4,provider: '贵州'}
		}]
		var picker = new SingleSlider({
			title:"请选择省份",
			//data:["广州1","肇庆2","广州3","肇庆4","广州5","肇庆6","广州7","肇庆8","广州9","肇庆10","广州11","肇庆12"],
			data:data,
			selectIdx: 2,
			bindele: mSelect,
			type3D: true,
		});
		picker.setActionCallback("show" , function(){
			console.log("show");
		})
	</script>
</body>
</html>